# Lesson 1. Data Analysis using SQL

----

## Topic1. SQL Exercise 1

### 1-1. SQL Exercise

실습에 사용할 Documents 테이블을 만든다. sql파일을 다운로드 후 cmd로 활성화 한다.

1. cmd로 다운받은 파일이 있는 곳으로 이동
1. 명령창에 sqlite3.exe 실행
1. sql 활성화
1. CREATE TABLE Documents(DocID int, Term text, Count int);
1. .schema
1. .mode csv

그리고 입력할 데이터를 엑셀로 만든다.
- 나온 단어 수를 기록한 엑셀파일

In [1]:
import pandas as pd
Documents = pd.read_csv("Documents.csv")
Documents.head()

   1      data  4
0  1      base  3
1  1    system  5
2  1      fall  6
3  1  semester  2
4  2      data  1

그리고 sql에서 해당 파일을 로드한다.
- .import Documents.csv Documents
- 불러온 데이터 확인 : SELECT * FROM Documents

#### 실습1
$$ \pi_{Term}(\delta_{Docid=2}(Documents)) \cup \pi_{Term}(\delta_{counts=3}(Documents)) $$
- 왼쪽 : Term만 조회, 그 중 Docid가 2인 것
- 오른쪽 : Term만 조회, 그 중 Counts가 3인 것 
- 유니온 : select Term from Documents where Docid=2 union select Term from Documents where Docid=3;
- union all 하면 중복된 내용도 포함
- or : select Term from Documents where Docid=2 or Docid=3;

#### 실습2
- "data"를 포함하는 수 :  select count(*) from Documents where Term="data";
- 3자 이상의 글자를 포함하는 것 : select Docid, count(*) from Documents group by DocID having count(*)>=3;
- 3자 이상의 글자를 포함하는 것(having 기능 없이) : select DocID, number from (select DocID, count(*) as number from Documents group by DocID) where number>=3;
- data와 base를 포함하는 문서의 수 : select DocId, count(*) from Documents where Term="data" or Term="base" group by DocID; select count(*) from (select DocId, count(*) from Documents where Term="data" or Term="base" group by DocID having count(*)=2);

#### 실습 3
- 유사도 비교 : Doc1<'a':2, 'b':1, 'c':3>, Doc2<'b':2, 'c':1, 'd':4> 는 1x2 ('b') + 3x1('c') = 5 식으로 계산
- 셀프조인활용