<h1><center>4절. 데이터 구조 & 데이터 프레임 2</center></h1>

## 6. 벡터, 리스트, 행렬 다루기
### 6_1 관련 기능들
행렬은 차원을 가진 벡터이다. 빈값을 자동을 채워서 계산하는 [Recycling Rule 재활용 규칙]이 적용된다.

## 1. [Vector 벡터]

### 1_1. 벡터
1. **[Homogenous 동질적]** : 모든 원소는 같은 자료형 또는 모드.
1. 위치로 인덱스, 하위벡터 생성 가능, 원소들은 이름을 가질 수 있음.

In [13]:
# 데이터 프레임 생성
df <- data.frame(a=1, b=1, c=3, d="a"); df

  a b c d
1 1 1 3 a

In [39]:
# 리스트로 데이터 프레임 생성
v_num <- c(1,2,3,4)
v_eng <- c('A', 'B', 'C', 'D')
v_kor <- c('가', '나', '다', '라')
df2 <- data.frame(v_num, v_eng, v_kor); df2

  v_num v_eng v_kor
1 1     A     가
2 2     B     나
3 3     C     다
4 4     D     라

In [40]:
# 데이터 프레임 구조 확인
str(df2)

'data.frame':	4 obs. of  3 variables:
 $ v_num: num  1 2 3 4
 $ v_eng: Factor w/ 4 levels "A","B","C","D": 1 2 3 4
 $ v_kor: Factor w/ 4 levels "가","나","다",..: 1 2 3 4

In [58]:
# 데이터셋 결합
df3 <- data.frame(list('Xs'= c('X1', 'X2', 'X3', 'X4') ))
df4 <- data.frame('v_num'=c(5,6), 'v_eng'=c('E','F'), 'v_kor'=c('마','바'))

print('cbind() : 열결합')
df_cbind <- cbind(df2, df3); df_cbind  # 열 결합

print('rbind() : 행결합')
df_rbind <- rbind(df2, df4); df_rbind  # 행 결합

[1] "cbind() : 열결합"

  v_num v_eng v_kor Xs
1 1     A     가    X1
2 2     B     나    X2
3 3     C     다    X3
4 4     D     라    X4

[1] "rbind() : 행결합"

  v_num v_eng v_kor
1 1     A     가
2 2     B     나
3 3     C     다
4 4     D     라
5 5     E     마
6 6     F     바

In [65]:
# 데이터 프레임 할당
N = 3
df5 <- data.frame(col1=numeric(N), col2=list(N), col3=numeric(N)); df5
str(df5)

  col1 X3 col3
1 0    3  0
2 0    3  0
3 0    3  0

'data.frame':	3 obs. of  3 variables:
 $ col1: num  0 0 0
 $ X3  : num  3 3 3
 $ col3: num  0 0 0

In [176]:
# 데이터 추출   https://jonnyomme.blogspot.com/2017/02/r-programming-subset.html
print('str : 데이터 프레임 조회')
head(airquality)
str(airquality)  # airquality 데이터 프레임 조회
print('tapply : month 단위로 데이터 요약')
tapply(airquality[,1], airquality$Month, summary)   # tapply(X, Index, Function) : 그룹별로 함수 적용

[1] "str : 데이터 프레임 조회"

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

'data.frame':	153 obs. of  6 variables:
 $ Ozone  : int  41 36 12 18 NA 28 23 19 8 NA ...
 $ Solar.R: int  190 118 149 313 NA NA 299 99 19 194 ...
 $ Wind   : num  7.4 8 12.6 11.5 14.3 14.9 8.6 13.8 20.1 8.6 ...
 $ Temp   : int  67 72 74 62 56 66 65 59 61 69 ...
 $ Month  : int  5 5 5 5 5 5 5 5 5 5 ...
 $ Day    : int  1 2 3 4 5 6 7 8 9 10 ...
[1] "tapply : month 단위로 데이터 요약"

$`5`
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   1.00   11.00   18.00   23.62   31.50  115.00       5

$`6`
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
  12.00   20.00   23.00   29.44   37.00   71.00      21

$`7`
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   7.00   36.25   60.00   59.12   79.75  135.00       5

$`8`
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   9.00   28.75   52.00   59.96   82.50  168.00       5

$`9`
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   7.00   16.00   23.00   31.45   36.00   96.00       1

In [171]:
# 데이터 프레임의 조건 검색
print('5월 데이터만 추출')
reault_subset_month <- subset(airquality, Month==5, sort=F)
head(reault_subset_month)

print('5월 또는 6월 데이터만 추출 : | 기호')
result_subset_month_or <- subset(airquality, (Month==5 | Month==6), sort=F)
head(result_subset_month_or)

print('5월 그리고 60도 이상 데이터만 추출 : & 기호')
result_subset_month_and <- subset(airquality, (Month==5 & Temp>=60), sort=F)
head(result_subset_month_and)

print('결과중에서 필요한 열만 가져오기')
result_subset_month_need <- subset(airquality, (Month==5 & Temp >= 60), select=c(Ozone, Wind), sort=F)
head(result_subset_month_need)

[1] "5월 데이터만 추출"

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

[1] "5월 또는 6월 데이터만 추출 : | 기호"

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

[1] "5월 그리고 60도 이상 데이터만 추출 : & 기호"

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
6 28     NA     14.9 66   5     6
7 23    299      8.6 65   5     7

[1] "결과중에서 필요한 열만 가져오기"

  Ozone Wind
1 41     7.4
2 36     8.0
3 12    12.6
4 18    11.5
6 28    14.9
7 23     8.6

In [198]:
# 데이터프레임 조회  http://using.tistory.com/68
date <- c(seq(as.Date("2018-09-01"), as.Date("2018-09-5"), 1))
store <- c('강남점', '신림점', '홍대점', '건대점', '신촌점')
price <- c(abs(trunc(rnorm(5,0,1000))*100))
count <- c(sample(5))
data <- data.frame(date, count, price, store); data

  date       count price  store
1 2018-09-01 2      56600 강남점
2 2018-09-02 1      77100 신림점
3 2018-09-03 5       4300 홍대점
4 2018-09-04 4     101900 건대점
5 2018-09-05 3      88900 신촌점

In [199]:
# store가 강남점인 것을 검색
# 연산 결과 'V1' 칼럼이 새로 생성됨. 
library(data.table)
data <- data.table(data) 
store <- data[, length(which(store=='강남점')), by=names(data)]
store

# 조건 검색
print('V1이 1인 경우')
store[V1==1]

print('날짜 검색')
data <- data.frame(subset(data, 
                          as.Date(date, '%d/%m/%Y %H:%M:%S', tz='UTC') >= '2018-09-02' & 
                          as.Date(date, '%d/%m/%Y %H:%M:%S', tz='UTC') <= '2018-09-04'), row.names=NULL)
data

  date       count price  store  V1
1 2018-09-01 2      56600 강남점 1
2 2018-09-02 1      77100 신림점 0
3 2018-09-03 5       4300 홍대점 0
4 2018-09-04 4     101900 건대점 0
5 2018-09-05 3      88900 신촌점 0

[1] "V1이 1인 경우"

  date       count price store  V1
1 2018-09-01 2     56600 강남점 1

[1] "날짜 검색"

  date       count price  store
1 2018-09-02 1      77100 신림점
2 2018-09-03 5       4300 홍대점
3 2018-09-04 4     101900 건대점

##### 기타  명령어 
1. `merge()` : 데이터 프레임 결합
1. `subset(df, select=[-열이름])` : 지정한 열 제거
1. `colnames(df)<-[열이름]` : 열이름 교체
1. `NA_cleaning<-na.omit(df)` : NA 행 삭제
1. `with(df, exp)`: 데이터 프레임 내용 접근
1.  `attach(df)`, `detach(df)` : 데이터 프레임 활성화(지정), 비활성화
1. `install.packages("패키지명")` : 패키지 설치
1. `setwd("경로")` : 작업 디렉토리 지정

----