<h1><center>제 1절. 데이터 변경 및 요약</center></h1>

## 1. R reshape를 이용한 데이터 마트 개발

[DM Data Mart 데이터마트]는 데이터 웨어하우스와 사용자 중간에 위치한 하나의 주제. 대부분 데이터 웨어하우스에서 복제되지만, 자체적으로 수집될 수 있으며, RDBMS나 다차원 데이터 베이스를 활용한다.

CRM 관련 업무 중에서 고객 데이터 마트를 구축하는 핵심 역할.

동일한 데이터 셋을 활용할 경우 데이터 마트를 어떻게 구축하느냐에 따라 분석 효과는 크게 차이가 난다.

### 1-1. 요약변수 : 정보를 분석에 맞게 종합한 변수
데이터 마트에서 가장 기본적인 변수로써 데이터 분석을 위한 변수 **총구매 금액, 횟수, 구매여부 등** .
- 많은 모델이 공통으로 사용하여 높은 재활용성.
- 합계, 횟수 등의 간단한 구조로 자동화에 유리.
- 단점으로 기준값의 모호한 의미 해석, 연속형 변수를 그룹핑 해서 사용하면 좋음.

##### 요약변수 예시
1. 고객의 구매 패턴 : 기간별 구매 금액, 횟수 여부
1. 구매 시기로 고객 추정 : 위클리 쇼퍼
1. 라이프 스타일 이해 : 상품별 구매 금액
1. 고객에 대한 이해와 해석 : 상품별 구매 순서
1. 채널 파악 및 추천 : 유통 채널별 구매 금액
1. 단어 출현 빈도 : 단어 빈도
1. 거래 패턴 예상 : 초기 행동 변수
1. 추이값 : 트렌트 변수
1. 데이터 내용 파악 : 결측값과 이상값 처리
1. 의미있는 구간 : 연속형 변수의 구간화

### 1_2 파생변수 : 특정 함수에 의해 만들어진 함수

매우 주관적일 수 있으므로 타당성을 갖출 필요가 있다. **세분화, 고객행동 예측, 반응 예측 등에 활용**된다.

##### 파생변수 예시
1. 근무시간 구매자수 : 근무시간대에 거래가 발생하는 비율을 산출
1. 주 구매 매장 변수 : 고객의 주거래 매장을 예측하여 적절한 분석에 활용
1. 주 활동 지역 변수 : 고객 정보나 거래내용을 통해 주 활동지역을 예측하여 분석에 활용
1. 주 구매 상품 변수 : 1순위 상품을 구매한 고객한테 2순위 상품을 추천하는데 활용
1. 구매 상품의 다양성 : 주로 구매하는 상품이나 브랜드로 성향을 분석
1. 선호 가격대 변수 : 취향, 소득, 서비스 등에 따라 많이 투자하는 상품군을 분석
1. 시즌 선호고객 변수 : 의미 있는 날에 소비 활동이 증가하므로 패턴 분석
1. 라이프 스테이지 변수 : 고객의 행동을 이해하고 니즈와 가치를 파악하는데 활용
1. 행사민감 변수 : 행사할 때 구매하는 고객과 그렇치 않은 고객의 행동을 파악
1. 휴면가망 변수 : 취향이나 관심사가 변해 구매하지 않는 경우, 이를 파악하여 대응
1. 최적 통화 시간 : 콜센터에 걸려온 시간으로 직업, 통화시간 등을 예측하여 통화 시도

### 1_3 reshape의 활용

reshape는 **melt()**와 **cast()** 2가지 함수가 있으며, melt()로 데이터를 녹이고 cast()로 다시 주조하는 것을 비유한 함수이다.
- 데이터를 조합해 변수명을 만들고, 다양한 요약변수와 파생변수를 생성 가능.

In [14]:
# airquailty로 연습
# 6개의 변수와 153개의 자료로 구성.
# https://jonnyomme.blogspot.com/2017/03/r-programming-reshape-melt-cast.html
head(airquality)
length(airquality[['Ozone']])

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

[1] 153

In [12]:
# 함수가 없을 경우 설치
# install.packages("reshape")

Installing package into 'C:/Users/jang/Documents/R/win-library/3.5'
(as 'lib' is unspecified)
Warning message in download.file(url, destfile, method, mode = "wb", ...):
"InternetOpenUrl failed: '서버에 연결할 수 없습니다.'"Warning message in download.packages(pkgs, destdir = tmpd, available = available, :
"download of package 'reshape2' failed"

In [32]:
# melt 함수 : 데이터를 수정하기 용의한 상태로 변화
require(reshape)

melting.air <- melt(airquality, id=c("Month", "Day"))
head(melting.air)
tail(melting.air)
str(melting.air)

  Month Day variable value
1 5     1   Ozone    41
2 5     2   Ozone    36
3 5     3   Ozone    12
4 5     4   Ozone    18
5 5     5   Ozone    NA
6 5     6   Ozone    28

    Month Day variable value
607 9     25  Temp     63
608 9     26  Temp     70
609 9     27  Temp     77
610 9     28  Temp     75
611 9     29  Temp     76
612 9     30  Temp     68

'data.frame':	612 obs. of  4 variables:
 $ Month   : int  5 5 5 5 5 5 5 5 5 5 ...
 $ Day     : int  1 2 3 4 5 6 7 8 9 10 ...
 $ variable: Factor w/ 4 levels "Ozone","Solar.R",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ value   : num  41 36 12 18 NA 28 23 19 8 NA ...

In [35]:
# cast 함수 : 데이터를 원하는 형태로 변형
# x1 변수 + x2 변수 + ... ~ y1변수 + y2변수 + ~ z1변수 + z2변수
# 변수의 정렬순서에 따라 데이터 형태가 달라짐.
casting.air <- cast(melting.air, Day~Month~variable)
head(casting.air)

casting.air2 <- cast(melting.air, Month~variable, mean)
head(casting.air2)

[1] 41 36 12 18 NA 28

  Month Ozone Solar.R  Wind      Temp
1 5     NA          NA 11.622581 65.54839
2 6     NA    190.1667 10.266667 79.10000
3 7     NA    216.4839  8.941935 83.90323
4 8     NA          NA  8.793548 83.96774
5 9     NA    167.4333 10.180000 76.90000

## 1_4. 데이터 테이블

data.table 패키지는 R에서 가장 많이 사용하는 데이터 헨들링 패키지 중 하나로, 탐색, 연산, 병합하는데 유용하다.
- data.frame 방식보다 월등히 빠른 속도
- 특정 column을 key 값으로 색인을 지정한 후 데이터를 처리.

In [38]:
# 설치
install.packages("data.table")

Installing package into 'C:/Users/jang/Documents/R/win-library/3.5'
(as 'lib' is unspecified)
Warning message:
"package 'data.table' is in use and will not be installed"

In [41]:
library(data.table)
DF <- data.frame(x = runif(2.6e+07), y = rep(LETTERS, each=10000))
df <- data.frame(x = runif(2.6e+07), y = rep(letters, each = 10000))

In [42]:
system.time(x <- DF[DF$y == "C",])

   user  system elapsed
   0.25    0.04    0.30

In [45]:
DT <- as.data.table(DF)
setkey(DT, y)
system.time(x <- DT[J("C"),])

   user  system elapsed
   0.03    0.00    0.03

----