<h1><center>5절. 데이터 변형</center></h1>

## 1. 데이터 변형

### 1_1. 데이터 변형

In [1]:
print('tapply : month 단위로 데이터 요약')
tapply(airquality[,1], airquality$Month, summary)

[1] "tapply : month 단위로 데이터 요약"

$`5`
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   1.00   11.00   18.00   23.62   31.50  115.00       5

$`6`
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
  12.00   20.00   23.00   29.44   37.00   71.00      21

$`7`
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   7.00   36.25   60.00   59.12   79.75  135.00       5

$`8`
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   9.00   28.75   52.00   59.96   82.50  168.00       5

$`9`
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   7.00   16.00   23.00   31.45   36.00   96.00       1

In [21]:
# 데이터 프레임을 여러 집단으로 분할
library(MASS)
print('Cars93 데이터를 출력')
head(Cars93)

print('Cars93 데이터를 MPG.city값을 Origin으로 나눔')
sp <- split(Cars93$MPG.city, Cars93$Origin); sp

print('리스트의 각 원소에 함수 적용 : lapply(X, Function)')
la <- lapply(Cars93$Price, summary)
head(la)

[1] "Cars93 데이터를 출력"

  Manufacturer Model   Type    Min.Price Price Max.Price MPG.city MPG.highway
1 Acura        Integra Small   12.9      15.9  18.8      25       31
2 Acura        Legend  Midsize 29.2      33.9  38.7      18       25
3 Audi         90      Compact 25.9      29.1  32.3      20       26
4 Audi         100     Midsize 30.8      37.7  44.6      19       26
5 BMW          535i    Midsize 23.7      30.0  36.2      22       30
6 Buick        Century Midsize 14.2      15.7  17.3      22       31
  AirBags            DriveTrain ... Passengers Length Wheelbase Width
1 None               Front      ... 5          177    102       68
2 Driver & Passenger Front      ... 5          195    115       71
3 Driver only        Front      ... 5          180    102       67
4 Driver & Passenger Front      ... 6          193    106       70
5 Driver only        Rear       ... 4          186    109       69
6 Driver only        Front      ... 6          189    105       69
  Turn.circle Rear.seat.room Luggage.room Weight Origin  Make
1 37          26.5           11           2705   non-USA Acura Integra
2 38          30.0           15           3560   non-USA Acura Legend
3 37          28.0           14           3375   non-USA Audi 90
4 37          31.0           17           3405   non-USA Audi 100
5 39          27.0           13           3640   non-USA BMW 535i
6 41          28.0           16           2880   USA     Buick Century

[1] "Cars93 데이터를 MPG.city값을 Origin으로 나눔"

$USA
 [1] 22 19 16 19 16 16 25 25 19 21 18 15 17 17 20 23 20 29 23 22 17 21 18 29 20
[26] 31 23 22 22 24 15 21 18 17 18 23 19 24 23 18 19 23 31 23 19 19 19 28

$`non-USA`
 [1] 25 18 20 19 22 46 30 24 42 24 29 22 26 20 17 18 18 29 28 26 18 17 20 19 29
[26] 18 29 24 17 21 20 33 25 23 39 32 25 22 18 25 17 21 18 21 20

[1] "리스트의 각 원소에 함수 적용 : lapply(X, Function)"

[[1]]
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   15.9    15.9    15.9    15.9    15.9    15.9

[[2]]
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   33.9    33.9    33.9    33.9    33.9    33.9

[[3]]
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   29.1    29.1    29.1    29.1    29.1    29.1

[[4]]
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   37.7    37.7    37.7    37.7    37.7    37.7

[[5]]
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
     30      30      30      30      30      30

[[6]]
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   15.7    15.7    15.7    15.7    15.7    15.7

In [49]:
# https://thebook.io/006723/ch04/04/03/
# sapply는 lapply와 유사하지만, 리스트 대신 행렬, 벡터 등의 데이터 타입으로 반환.
# sapply(X, Function)
print('lapply() 적용 : 리스트를 반환')
lapply(iris[, 1:4], mean)

print('sapply() 적용 : 데이터 프레임 반환')
x <- sapply(iris[, 1:4], mean)
as.data.frame(t(x))

print('대용량 데이터 파악에 유용')
t(sapply(iris, class))

[1] "lapply() 적용 : 리스트를 반환"

$Sepal.Length
[1] 5.843333

$Sepal.Width
[1] 3.057333

$Petal.Length
[1] 3.758

$Petal.Width
[1] 1.199333

[1] "sapply() 적용 : 데이터 프레임 반환"

  Sepal.Length Sepal.Width Petal.Length Petal.Width
1 5.843333     3.057333    3.758        1.199333

[1] "대용량 데이터 파악에 유용"

     Sepal.Length Sepal.Width Petal.Length Petal.Width Species
[1,] numeric      numeric     numeric      numeric     factor

### 1_2. 문자열 다루기

In [55]:
# 문자열 길이 구하기
print("문자열 길이 구하기")
nchar("123456789")

# 문자열 연결
print("문자열 연결")
paste("이거", "저거", "그거", sep="-")

# 문자열 추출
print("문자열 추출")
substr("많은 문자열 중에 처음 문자열만 추출", 4,6)

# 쌍별 조합
print("쌍별 조합")
mat <- outer("문자열1", "문자열2", paste, sep="")
mat

[1] "문자열 길이 구하기"

[1] 9

[1] "문자열 연결"

[1] "이거-저거-그거"

[1] "문자열 추출"

[1] "문자열"

[1] "쌍별 조합"

     [,1]
[1,] 문자열1문자열2

### 1_3. 날짜 다루기

In [71]:
# 시스템 날짜
print("시스템 날짜")
Sys.Date()

# 날짜 변환
print("날짜 변환")
format(Sys.Date(), format="%m/%d/%y")

# 날짜 조회
print("날짜 조회")
format(Sys.Date(), '%a | %b | %B')  # 요일 | 월이름 | 월  
format(Sys.Date(), '%y / %m / %d')  # 2자리 년도 / 2자리 일자 / 2자리 월 
format(Sys.Date(), '%Y')  # 4자리 연도

# 날짜 추출
# POSIX는 유닉스간 소통 가능한 프로그램 인터페이스
d <- as.Date("2018-05-17")
p <- as.POSIXlt(d); p$yday
start <- as.Date("2018-05-01")
end <- as.Date("2018-05-31")
seq(from=start, to=end, by=1)

[1] "시스템 날짜"

[1] "2018-09-08"

[1] "날짜 변환"

[1] "09/08/18"

[1] "날짜 조회"

[1] "토 | 9 | 9월"

[1] "18 / 09 / 08"

[1] "2018"

[1] 136

 [1] "2018-05-01" "2018-05-02" "2018-05-03" "2018-05-04" "2018-05-05"
 [6] "2018-05-06" "2018-05-07" "2018-05-08" "2018-05-09" "2018-05-10"
[11] "2018-05-11" "2018-05-12" "2018-05-13" "2018-05-14" "2018-05-15"
[16] "2018-05-16" "2018-05-17" "2018-05-18" "2018-05-19" "2018-05-20"
[21] "2018-05-21" "2018-05-22" "2018-05-23" "2018-05-24" "2018-05-25"
[26] "2018-05-26" "2018-05-27" "2018-05-28" "2018-05-29" "2018-05-30"
[31] "2018-05-31"

----