----

# 단순 선형 회귀 분석 예제

참고 : 데이터 분석 준전문가 한 권으로 끝내기

두 벡터 x와 y를 생성하고, x와 y 사이에 선형관계가 있다고 가정하고 lm()함수를 이용해 단순선형회귀분석을 실시하라.

## 1. Random Vector

In [2]:
# 난수 생성기의 시드 설정. 
set.seed(2)

In [5]:
x <- runif(10,0,11)
y <- 2 + 3 * rnorm(10,0,0.2)

x
y

 [1] 10.799006  3.267118  1.265925  1.795210 10.384460  8.743502 10.721567
 [8]  3.839973  5.521669  8.914370

 [1] 0.5289762 2.2863424 1.6420651 2.4753220 2.1737820 2.4433632 2.1913762
 [8] 2.6456986 1.8295054 1.5339948

- **runif(10, 0, 11)** : 평균이 0, 표준편차가 11인 연속균등분포로 부터 난수 10개를 추출하는 기능
- **rnorm(10,0,0.2)** : 평균이 0, 표준편차가 2인 정규분포로부터 난수 10개를 추출

## 2. Covert to DataFrame

In [7]:
dfrm <- data.frame(x, y)
dfrm

   x         y
1  10.799006 0.5289762
2   3.267118 2.2863424
3   1.265925 1.6420651
4   1.795210 2.4753220
5  10.384460 2.1737820
6   8.743502 2.4433632
7  10.721567 2.1913762
8   3.839973 2.6456986
9   5.521669 1.8295054
10  8.914370 1.5339948

## 3. Regression Analysis

In [8]:
lm(y~x, data=dfrm)

Call:
lm(formula = y ~ x, data = dfrm)

Coefficients:
(Intercept)            x
    2.36599     -0.05991

- **Intercept** : 상수
- **x** : 회귀계수
 $$ 회귀식 = y = 2.36 + 0.06\times{x} $$

----